---
---
$baseurl: "{{ site.baseurl }}";
$font-mono: 'JetBrains Mono', ui-monospace, Menlo, Consolas, 'Courier New', monospace;

html, body {
  margin:0;
  padding:0;
  background:#0a0e0a;
}

a, span, p, h1, h2, h3, i, mark {
  font-family:$font-mono;
}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i { color:#c9d9c9; }
h1, h2, h3, mark { margin:0; }
mark { background-color:transparent; }

svg {
  width:16px;
  aspect-ratio:1.0;
  fill:#c9d9c9;
  display:block;
  margin:auto;
}

button {
  border:none;
  background:none;
  padding:0;
}

/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@import 'vars';
@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}

@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";